<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardiacSensor WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CardiacSensor WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CardiacSensor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7FD95521D83905100F4FB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7FD95661D83905100F4FB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7FD95711D83905200F4FB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7FD957A1D83905200F4FB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
