<div class="hero" style="background-image: url('/images/applewatch-doctor.jpg');">
  &nbsp;</div>

  <!-- <form action="demo">
    <input type="text" name="usrname"><br>
    <button type="submit" value="Submit">
  </form> -->
